<div *ngIf="showSpinner">
  <mat-progress-spinner class="spinner" [color]="color" [mode]="mode" [value]="value">
  </mat-progress-spinner>
</div>
<div *ngIf="!showSpinner" class="board-list">
  <mat-list>
    <h3 mat-subheader>{{username}}'s boards</h3>
    <mat-list-item *ngFor="let board of boards">
      <button mat-button matTooltip="View board" (click)="goToBoardView(board.name)">
        <i class="material-icons">remove_red_eye</i>
      </button>
      <p mat-line>{{board.name}}</p>
    </mat-list-item>
  </mat-list>
  <br>
  <button mat-button matTooltip="Home" (click)="goToUsersList()">
    <i class="material-icons">home</i>
  </button>
  <button mat-button matTooltip="Create new board" (click)="showAddBoardDialog()">
    <i class="material-icons">add</i>
  </button>
</div>